h2 { font-size: 16px; color: #555753; }
h1 { font-size: 24px; color: #555753; }
p { color: #555753; }

body { font-family: "Times New Roman", Times, serif; font-style: italic; color: #555753; }

 #linkek {
   position: fixed;
    top: 16px;
    left: 10px;
    width: 150px;
    height: 96%;
    background-color:#efefef; /*háttérszín*/

  }
  #szovegtorzs {
    text-align:justify;
    position: fixed;
    top: 16px;
    left: 180px;
    width: 780px;
    height: 96%;
    overflow-y :auto;
    /* background-color:#efefef; /*háttérszín*/ */
    /* <!-- <div style="position:absolute; left:0px; top:10px; width:750px; height:0px;"> --> */
  }
  #myContainer {
    align: right
  }
  .szajhagyomany {
	border: 1px solid #555753;
    padding: 25px;
	margin-right: 150px;
  }
